<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.transactionpay">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/tclauncher2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/tclauncher2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RecyclerviewActivity"></activity>
        <activity android:name=".ReceiptActivity" />
        <activity android:name=".HistoryActivity" />
        <activity android:name=".SignInActivity" />
        <activity android:name=".TransactionsActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>